# .npmrc

//packages.aliyun.com/60c197272c5969c370c5fc9b/npm/npm-registry/:_authToken=a2db2e91-ba79-4546-aad9-0ffa51c6e761
@tarslib:registry=https://packages.aliyun.com/60c197272c5969c370c5fc9b/npm/npm-registry/
registry=https://registry.npmmirror.com